.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  border-radius: 0px 0px 40px 40px;
}

.main__title {
  color: white;
  font-size: 25px;
}
.input {
  background-color: rgba(255, 255, 255, 0.1);
	border: 2px solid white;
	border-radius: 25px;
	color: white;
	font-family: 'Muli';
	font-size: 16px;
	height: 50px;
	margin-bottom: 20px;
	outline: none;
	padding: 0px 20px;
	width: 70%;
}

::placeholder {
  color: white;
}
